## INFERENCE - Classification Model for Predicting Client Default Payment Status

---

Graded Challenge 5

Name : Ogi Hadicahyo

Batch  : HCK - 012 (Phase 1)

## 11. Model Inference
Model yang sudah dilatih akan dicoba pada data yang bukan termasuk ke dalam train-set ataupun test-set. Data ini harus dalam format yang asli, bukan data yang sudah di-scaled.

### 11.1 Import Library

First of all, we will load the model first.

In [9]:
import pandas as pd
import pickle

### 11.2 Load Model

In [10]:
# Memuat Model

# Memuat model Linear Regression dari file pickle
with open('model.pkl', 'rb') as file_5:
  model_kneighborsclassifier = pickle.load(file_5)

## 11.3. Inference

We will create new data that contains the information the model needs to make predictions.

In [11]:
# Membuat Data Baru

# Membuat data baru dengan informasi jarak, pengali lonjakan, dan nama armada
data_inf = {
    "limit_balance": [120000, 75000, 40000],
    "education_level": [3, 2, 4],
    "pay_1": [-1, 1, 3],
    "pay_2": [-1, -1, 2],
    "pay_3": [-1, -1, 1],
    "pay_4": [2, 4, 1],
    "pay_5": [3, 2, 1],
    "pay_6": [1, 2, 1],
    "pay_amt_1": [12000, 25000, 0],
    "pay_amt_2": [5000, 3000, 25000],
    "pay_amt_3": [0, 7000, 30000],
    "pay_amt_4": [0, 0, 5000],
    "pay_amt_5": [0, 0, 10000],
    "pay_amt_6": [45000, 60000, 15000]
}

# Membuat DataFrame dari data baru
data_inf = pd.DataFrame(data_inf)

# Menampilkan data baru
data_inf

,limit_balance,education_level,pay_1,pay_2,pay_3,pay_4,pay_5,pay_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,120000,3,-1,-1,-1,2,3,1,12000,5000,0,0,0,45000
1,75000,2,1,-1,-1,4,2,2,25000,3000,7000,0,0,60000
2,40000,4,3,2,1,1,1,1,0,25000,30000,5000,10000,15000

In [12]:
# Memprediksi dengan Menggunakan Model Linear Regression

# Memprediksi target untuk data baru menggunakan model Linear Regression
y_pred_inf = model_kneighborsclassifier.predict(data_inf)

# Menampilkan prediksi untuk data baru
y_pred_inf

c:\Users\Ogi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\Ogi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\Ogi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([0, 0, 0], dtype=int64)

## 11.4. Conclusion Inference

From the results of the model test (inferential), we get that our three data inputs indicate default payment for the following month (failure to pay)